@model TextBooks.Models.PublicProfileViewModel

@{
    ViewBag.Title = "PublicProfile";
}
<br />
<div class="container">

    <h1><I>@Html.DisplayFor(model => model.targetUser.FirstName)</I></h1>
    <h5><b>@Html.DisplayFor(model => model.targetUser.LastName)</b></h5>
    <br />
    @Html.DisplayFor(model => model.targetUser.Email)<br />
    @Html.DisplayFor(model => model.targetUser.PhoneNumber)<br />

    <br />

    <table>
        <tr>
            <th>
                @Html.DisplayFor(model => model.targetUser.FirstName)'s Books
            </th>
        </tr>
        @if (Model.booksOwned == null)
        {
            <tr>
                <td>
                    No books to show.
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model.booksOwned)
            {
                <tr>
                    <td>
                        @Html.ActionLink((item.Title), "Details", "Books", new { id = item.B_ID }, null)
                    </td>
                </tr>
            }
        }
    </table>
    <br />

    <table>
        <tr>
            <th>
                @Html.DisplayFor(model => model.targetUser.FirstName) is borrowing
            </th>
        </tr>
        @if (Model.booksBorrowed == null)
        {
            <tr>
                <td>
                    No books at the moment.
                </td>
            </tr>
        } else
        {
            foreach (var item in Model.booksBorrowed)
            {
                <tr>
                    <td>
                        @Html.ActionLink((item.Title), "Details", "Books", new { id = item.B_ID }, null)
                    </td>
                </tr>
            }
        }

        



    </table>

    @using (Html.BeginForm("ContactUser", "Account", new { toUsername = Model.targetUser.UserName }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h2><strong>Sending an email</strong></h2>
            <hr />

            <div class="form-group">
                <label class="control-label col-md-2">
                    Message to Send:
                </label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.contactEmail.message, new { @class = "form-control" })
                    @Html.HiddenFor(model => model.targetUser.UserName)
                </div>
            </div>
            <input type="submit" value="Send" class="btn btn-info" />
        </div>
    }


    <br />
</div>