@model Tuple<TextBooks.AspNetUser, IEnumerable<TextBooks.Book>, IEnumerable<TextBooks.Book>>

@{
    ViewBag.Title = "PublicProfile";
}
<br />
<div class="container">

    <h1><I>@Html.DisplayFor(model => model.Item1.FirstName)</I></h1>
    <h5><b>@Html.DisplayFor(model => model.Item1.LastName)</b></h5>
    <br />
    @Html.DisplayFor(model => model.Item1.Email)<br />
    @Html.DisplayFor(model => model.Item1.PhoneNumber)<br />

    <br />

    <table>
        <tr>
            <th>
                @Html.DisplayFor(model => model.Item1.FirstName)'s Books
            </th>
        </tr>
        @if (Model.Item2 == null)
        {
            <tr>
                <td>
                    No books to show.
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model.Item2)
            {
                <tr>
                    <td>
                        @Html.ActionLink((item.Title), "Details", "Books", new { id = item.B_ID }, null)
                    </td>
                </tr>
            }
        }
    </table>
    <br />

    <table>
        <tr>
            <th>
                @Html.DisplayFor(model => model.Item1.FirstName) is borrowing
            </th>
        </tr>
        @if (Model.Item3 == null)
        {
            <tr>
                <td>
                    No books to show.
                </td>
            </tr>
        } else
        {
            foreach (var item in Model.Item3)
            {
                <tr>
                    <td>
                        @Html.ActionLink((item.Title), "Details", "Books", new { id = item.B_ID }, null)
                    </td>
                </tr>
            }
        }

        



    </table>

    @{
        TextBooks.Models.EmailViewModel email = new TextBooks.Models.EmailViewModel();
    }

    @using (Html.BeginForm("SendEmail", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h2><strong>Sending an email</strong></h2>
            <hr />

            <div class="form-group">
                <label class="control-label col-md-2">
                    Message to Send...
                </label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => email.message, new { @class = "form-control" })
                </div>
            </div>

            <input type="submit" value="Change" class="btn btn-info" />
        </div>
    }


    <br />
</div>