@model TextBooks.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2 style="text-align:center;">@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4 style="text-align:center;">Change your account settings</h4>
    <table class="table">
        <tr>
            <th>
                Password
            </th>
            <th>
                Books
            </th>
            <th>
                Phone
            </th>
        </tr>
        <tr>
            <td class="col-xs-4">
            @if (Model.HasPassword)
            {
                    @Html.ActionLink("Change your password", "ChangePassword", null, new { @class = "btn btn-default btn-transparent" })
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword", null, new { @class = "btn btn-default btn-transparent" })
                }
            </td>
            <td class="col-xs-4">
                @Html.ActionLink("View", "ViewMyBooks", null, new { @class = "btn btn-default btn-transparent" })
            </td>
            <td class="col-xs-4">
                @if (Model.PhoneNumber != null)
                {
                    <div class="form-inline">
                        @Html.ActionLink("Change", "AddPhoneNumber", null, new { @class = "btn btn-default btn-transparent" })
                        @Html.ActionLink("Remove", "RemovePhoneNumber", null, new { @class = "btn btn-default btn-transparent" })
                    </div>
                }
                else
                {
                    @Html.ActionLink("Add", "AddPhoneNumber", null, new { @class = "btn btn-default btn-transparent" })
                }
            </td>
        </tr>
        @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.
             
             See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.
             
             Uncomment the following block after you have set up two-factor authentication
        *@
        @*  
            <dt>Phone Number:</dt>
            <dd>
               
            </dd>
        *@
            @*<p>
                There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication.
            </p>*@
            @*@if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Enabled
                        <input type="submit" value="Disable" class="btn btn-link" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Disabled
                        <input type="submit" value="Enable" class="btn btn-link" />
                        </text>
                    }
                }*@
    </table>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/css")
    <link href="@Url.Content("~/Content/Home.css")" rel="stylesheet" type="text/css" />
}