@model TextBooks.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2 style="text-align:center;">@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="container">
    <h4 style="text-align:center;">Change your account settings</h4>
    <table class="table">
        <tr>
            <th style="text-align:center">
                Password
            </th>
            <th style="text-align:center">
                Books
            </th>
            <th style="text-align:center">
                Phone
            </th>
            <th style="text-align:center">
                Delete
            </th>
        </tr>
        <tr>
            <td class="col-xs-2">
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword", null, new { @class = "btn btn-default btn-transparent" })
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword", null, new { @class = "btn btn-default btn-transparent" })
                }
            </td>
            <td class="col-xs-5">
                @Html.ActionLink("My books", "ViewMyBooks", null, new { @class = "btn btn-default btn-transparent" })
                @Html.ActionLink("Borrowed from me", "ViewMyBooksBorrowed", null, new { @class = "btn btn-default btn-transparent" })
                @Html.ActionLink("Borrowed by me", "ViewMyBooksBorrower", null, new { @class = "btn btn-default btn-transparent" })
                @Html.ActionLink("Requests", "RequestsToBorrow", null, new { @class = "btn btn-default btn-transparent" })
            </td>
            <td class="col-xs-2">
                @if (Model.PhoneNumber != null)
                {
                    <div class="form-inline">
                        @Html.ActionLink("Change", "AddPhoneNumber", null, new { @class = "btn btn-default btn-transparent" })
                        @Html.ActionLink("Remove", "RemovePhoneNumber", null, new { @class = "btn btn-default btn-transparent" })
                    </div>
                }
                else
                {
                    <div style="">
                        @Html.ActionLink("Add", "AddPhoneNumber", null, new { @class = "btn btn-default btn-transparent" })
                    </div>
                }
            </td>
            <td class="col-xs-1">
                @Html.ActionLink("Delete Account", "DeleteAccount", "Account", new { userName = User.Identity.Name }, new { @class = "btn btn-default btn-transparent" })
            </td>
        </tr>
    </table>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/css")
    <link href="@Url.Content("~/Content/Home.css")" rel="stylesheet" type="text/css" />
}
