@model TextBooks.Models.RequestsToBorrowView

@{
    ViewBag.Title = "Requests";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Requests</h4>
        <hr />
            
        @foreach(var messages in Model.RequestsAll)
        {
            @Html.DisplayFor(model=>messages.message)
            @Html.DisplayFor(model=>messages.sender)
            <div class="form-group">
                <div class="col-md-offset-5 col-xs-6">
                    <button type="submit" value="Accept" class="btn btn-default btn-transparent">Accept</button>
                    <button type="submit" value="Decline" class="btn btn-default btn-transparent">Decline</button>
                </div>
            </div>
        }

        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default btn-transparent" })
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/css")
    <link href="@Url.Content("~/Content/Home.css")" rel="stylesheet" type="text/css" />
}
