@model TextBooks.Models.RequestsToBorrowView

@{
    ViewBag.Title = "Requests";
}
    
    <div class="form-horizontal">
        <h4>Requests</h4>
        <hr />
        <table class="table-condensed">
            <tr>
                <th class="col-xs-6">
                    Request
                </th>
                <th class="col-xs-4">
                    Sender
                </th>
                <th class="col-xs-5">
                    Request Management
                </th>
            </tr>

        @foreach (var messages in Model.RequestsAll)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => messages.message)
                </td>
                <td>
                    @Html.DisplayFor(model => messages.sender)
                </td>
                <td>
                    <div class="form-group">
                       @using (Html.BeginForm("RequestsToBorrow", "Manage", new { bookValue = messages.bookID, borrower = messages.borrower, requestID = messages.requestID }, FormMethod.Post))
                       {
                             @Html.AntiForgeryToken()
                            <button type="submit" value ="Accept" class="btn btn-default btn-transparent">Accept</button>
                            <button type="submit" class="btn btn-default btn-transparent">Decline</button>
                       }
                    </div>
                </td>
                </tr>
        }
            </table>

        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default btn-transparent" })
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/css")
    <link href="@Url.Content("~/Content/Home.css")" rel="stylesheet" type="text/css" />
}
